.m {
  // dynamic "bootstrap"-ish margin building, hopefully shorter than than an exhaustive list of classes

  // first our general margin classes
  $sizes: (
    'none': none,
    'sm': 0.25rem,
    'md': 0.5rem,
    'lg': 1rem,
  );

  // finally our directional margin classes
  $choices: (
    'top': margin-top,
    'bottom': margin-bottom,
    'left': margin-left,
    'right': margin-right,
    'all': margin,

    // if we want either top/bottom or left/right
    'x': margin-left margin-right, // <-- note the space, each is a separate property
    'y': margin-top margin-bottom,
  );

  @each $size, $value in $sizes { // map-loop through our sizes
    &-#{$size} { // ie. class="m-sm"

      margin: $value; // for all margins, ie. class="m-lg" => "margin: 1rem"

      @each $choice, $prop in $choices { // second-level map-loop through our choices

        &-#{$choice} { // ie. class="m-sm-top"

          // use a loop here to handle n>=1 properties
          @each $prop in $prop { // third-level map-loop through our property choices
            #{$prop}: $value; // ie. class="m-sm-x" => "margin-left: 0.25rem, margin-right: 0.25rem"
          }
        }
      }
    }
  }
}
