// SPACING
$spacings: (
  'p': 'padding',
  'm': 'margin',
  'gap': 'gap',
  'br': 'border-radius',
);

$sizes: (
  '0': none,
  'none': none,
  'sm': 0.25rem,
  'md': 0.5rem,
  'lg': 1rem,
);

$sides: (
  'top': 'top',
  'bottom': 'bottom',
  'left': 'left',
  'right': 'right',
  'x': 'left' 'right',
  'y': 'top' 'bottom',
);

// first-level map-loop, through our (types of) spacings
@each $spacing, $spacing-prop in $spacings {
  .#{$spacing} {
    // second-level map-loop, through our sizes
    @each $size, $size-prop in $sizes {
      &-#{$size} {
        // "m-sm" or "p-md" etc.
        #{$spacing-prop}: $size-prop !important;

        // third-level map-loop, through our sides
        @each $side, $side-prop in $sides {
          &-#{$side} {
            // final sub-level loop to handle n>=1 properties
            @each $side-prop in $side-prop {
              #{$spacing-prop}-#{$side-prop}: $size-prop !important;
              // ie. m-sm-top -> "margin-top: 0.25rem !important;"
            }
          }
        }
      }
    }
  }
}
// END OF SPACING
